.font-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.a-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5rem;
  border: 0.1rem solid var(--dark-col);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.name {
  font-size: 1rem;
  text-align: left;
  padding-left: 0.5rem;
}

input[type='radio'].radio-button {
  display: none;
}

input[type='radio'].radio-button:checked + label {
  filter: invert(1);
  border-radius: 1rem;
}
input[type='radio'].radio-button:hover + label {
  filter: invert(1);
  border-radius: 1rem;
}

.weight-select {
  border: none;
}
